@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-slate-900 font-sans antialiased;
  }
}

/* Estilos personalizados para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-300 rounded-full hover:bg-primary-500 transition-colors;
}

/* Animaciones personalizadas */
@keyframes blob {

  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  100% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
} 

/* Estilos para enlaces */
a {
  @apply text-primary-600 hover:text-primary-800 transition-colors;
}

/* Estilos para botones */
button {
  @apply bg-primary-600 text-white px-6 py-3 rounded-lg font-semibold shadow-md hover:bg-primary-700 transition-all;
}